    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        /* background-image: url("/project/images/colourful-various-herbs-spices-cooking-dark-background-herbs-spices-cooking-dark-background-113655482.jpg");
        background-size: cover;
        background-position: center;
        height: 50vh;
        width: 100%; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /* opacity: 0.5;
        width: 100%;
        margin: 0;
        padding: 0; */
    }
    
    nav {
        background-color: #964B00;
        float: right;
        /* background: rgba(87, 63, 2, 0.678); */
    }
    
    #nav_bar li {
        display: inline-block;
        padding: 8px;
        margin-right: 25px;
        padding: 7px 15px;
        border-radius: 3px;
        font-weight: bold;
        color: #FFFDD0;
    }
    
    #nav_bar #sign_in {
        background: #258556;
        margin-right: 25px;
        padding: 7px 15px;
        border-radius: 3px;
        font-weight: bold;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    li.nav-links a:hover {
        text-decoration: underline;
        box-shadow: 1px 1px 5px;
    }
    
    #sign_in:hover {
        box-shadow: 1px 1px 5px #999;
    }
    
    #sign_in {
        color: #fff;
    }
    
    .form {
        text-align: center;
        padding-top: 280px;
    }
    
    .form :placeholder-shown {
        text-align: center;
    }
    
    #form-search {
        width: 450px;
        line-height: 35px;
        padding: 0 50px;
        border-radius: 10px;
    }
    
    h2 {
        text-align: center;
        font-family: cursive;
        font-size: 40px;
    }
    
    p {
        text-align: justify;
        border: 5px, 50px;
        line-height: 2;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        justify-items: center;
    }
    
    footer ul li {
        display: inline;
        color: #f7f6f6;
        font-size: 14px;
        padding: 13px;
    }
    
    footer ul {
        float: left;
        padding: 1px;
    }
    
    footer ul a:hover {
        text-decoration: underline;
    }
    
    .footer-right {
        float: right;
    }
    
    .about_us {
        display: inline-block;
        padding: 20px 100px;
    }
    
    .recipes {
        width: 222px;
        height: 118px;
        margin-bottom: 20px;
    }
    
    .footer {
        background-color: #34A56F;
        height: 50px;
        padding-bottom: 0;
    }